/*.appContainer {*/
/*    background-color: hsl(230, 17%, 14%) !important;*/

/*}*/


body {
        background-color: hsl(230, 17%, 14%) !important;
}


.headerAndDarkModeToggle {
    color: white;

}

.overViewHeader {
    font-weight: 700;
    color: white;
    padding-top: 1em
}

.overViewCell {
    height:8.5em;
    border-radius: 2.5%;
    background-color: hsl(228, 28%, 20%);
    margin-top: 1em;
}

.followerCounter {
        background-color: hsl(228, 28%, 20%);

}

.followerCounter:hover {
    background-color: hsl(229, 21%, 26%);
    transition-duration: .2s;

}


.followerCounter h1 {
    color: #FFFFFF;
}

.followerCounterSubheading {
    color: hsl(228, 34%, 66%);

}

.accountName {
    color: hsl(228, 34%, 66%);

}

.overViewCellLeft {
    color: white;

}

.overViewCellLeft p{
    color: hsl(228, 34%, 66%);

}
